/* @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
body {
  margin: 0;
  font-weight: 700;
  font-family:'Crimson Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
